<div class="user-details">
  <h1> Featured Projects </h1>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mironaft.webp" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> MiRONAFT website (open source soon)</h3>
    <ul>
      <li> HTML5</li>
      <li> CSS3</li>
      <li> JS</li>
      <li> Fomantic-UI</li>
    </ul>
    <p>New site of #MiRONAFT FabLab. Today, according to professional associations, the laboratory is the largest in its profile innovation “FabLab” workshop in Ukraine and Europe, and located in Odessa National Academy of Food Technology.</p>
    <a class="project-link" target="_blank" href="https://robot.onaft.edu.ua">Check it out</a>
  </div>
</div>
